:root{
    --clr-black: #242424;
    --clr-white: #f3f3f3;
    --clr-red: #a83434;
}

main{
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--clr-white);
    right: -50%;
}
.titulo{
    font-size:3rem;
}
.botones{
    display: flex;
    gap: 1rem;
}

.boton{
    border: 0;
    background-color: var(--clr-black);
    padding: .75em 1em;
    border-radius: 500vmax;
    cursor:pointer;
    text-transform: uppercase;
    font-weight: 800;;
    font-size: .75rem;
}